# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres.mqehmdzsigtqilwdzsuz:acn1yW5dVt1uA2e3@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres"
DIRECT_URL="postgresql://postgres:acn1yW5dVt1uA2e3@db.mqehmdzsigtqilwdzsuz.supabase.co:5432/postgres"

# Session / Auth
SESSION_SECRET="ganti-dengan-string-acak-panjang-min-32-karakter"
JWT_SECRET="ganti-dengan-string-acak-panjang-min-32-karakter"
